<mat-toolbar>Menü Plan</mat-toolbar>
<div>
  <button mat-button (click)="openDialog();">New Menu</button>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2" *ngFor="let day of days">
    <mat-card class="menu">
      <mat-card-title>{{getLineTitle(day.date)}}</mat-card-title>
      <mat-card-content>
        <div *ngFor="let menu of day.menus">
          {{menu.title}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-1"></div>
</div>
