<h2 mat-dialog-title>{{ getDialogTitle() }}</h2>
<form [formGroup]="form" class="dialogForm">
  <mat-form-field>
    <input matInput placeholder="Titel" type="text" formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="date"
      matInput
      [matDatepicker]="picker"
      placeholder="Datum"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="type" required>
      <mat-option value="Vorspeise">Vorspeise</mat-option>
      <mat-option value="Hauptspeise">Hauptspeise</mat-option>
      <mat-option value="Dessert">Dessert</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" (click)="save()">
    speichern
  </button>
  <button mat-button [mat-dialog-close]="true">abbrechen</button>
</mat-dialog-actions>
